/** Colors */
$color-blue: #4199ff;
$hover-bg: rgba(0, 0, 0, 0.2);
$text-w: #fff;
$text-b: rgba(255, 255, 255, 0.5);
$btn-hover: rgba(255, 255, 255, 1);
$color-orange: #fdb532;
// color border
$bd-black: #333333;

// font
$font-12: 12px;
$font-14: 14px;

// dark
$d-none-hover: rgba(255, 255, 255, 0.5);
$d-hover: rgba(255, 255, 255, 1);
$d-background: rgba(38, 40, 49, 1);
$d-btn-hover-bg: rgba(255, 255, 255, 0.08);
$d-text-main-title: rgba(255, 255, 255, 0.5);
$d-text-sub-title: rgba(255, 255, 255, 1);
$d-tab-bg: #404557;

// light
$l-none-hover: rgba(38, 40, 49, 0.5);
$l-hover: rgba(38, 40, 49, 1);
$l-background: #fff;
$l-background1: #f7f7f8;
$l-btn-hover-bg: rgba(38, 40, 49, 0.06);
$l-text-main-title: rgba(38, 40, 49, 1);
$l-text-sub-title: rgba(38, 40, 49, 0.8);
$l-tab-bg: rgba(38, 40, 49, 0.08);
$l-btn-bg: #fcfcfc;

// Spacing
$px-5: 5px;
$px-7: 7px;
$px-10: 10px;
$px-12: 12px;
$px-15: 15px;
$px-20: 20px;

// z-index
$z-index-set: 2;
$height: 30px;
